# Dependencies
node_modules

# Build output
dist
build

# Environment variables
.env
.env.*
!.env.example

# Vite
*.local

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode
.idea
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Coverage
coverage
